Body{
background-image:url("milky-way-full-stars-space.jpg");
  background-size: cover;
}
p{
color: white;
}
#aa{
background-image:url("neptune.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-right: 200px;
  background-attachment: fixed;
}
#AB{
  background-image:url("neptune.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-right: 200px;
  background-attachment: fixed;
}
#AC{
  background-image:url("neptune.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-right: 200px;
  background-attachment: fixed;
}
