Body{
background-image:url("milky-way-full-stars-space.jpg");
  background-size: cover;
}
p{
color: white;
  text-align: center;
}
#aa{
background-image:url("neptune.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-right: 200px;
  background-attachment: fixed
}
#AB{
  background-image:url("saturn1.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-right: 200px;
  background-attachment: fixed
}
#AC{
  background-image:url("venus.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-right: 200px;
  background-attachment: fixed
}
#ad {
 display: block;
	width: 100px;
	height: 100px;
	background-color:red;
	position: absolute;
}
#ae{
	background-image:url("venus.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-right: 200px;
  background-attachment: fixed
   }
#af {
	width: 100px;
	height: 100px;
	background-color: red;
	position: absolute;
	 left: 100px;
  top: 150px;
}
