Body{
background-image:url("milky-way-full-stars-space.jpg");
  background-size: cover;
}
p{
color: white;
}
div{
background-image:url("neptune.jpg");
  background-repeat: no-repeat
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed
}
