body{
  margin: 70px;
  background-color: black;
  background-image:url("1343.jpg");
  background-size: 100px 100px;
}
h1{
  text-align: center;
   color: white;
}
h4{
  text-align: center;
   color: white;
 
}
p{
  text-align: center;
     color: white;
}
il{
list-style: none;
  margin: 0;
  padding: 0;
}
ul{
list-style: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  margin: 0;
}
header {
  background: purple;
  height: 100px;
}
h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}
section {
  zoom: 0.8;
}
article {
  padding: 10px;
  margin: 10px;
  background: aqua;
}
/* Add your flexbox CSS below here */
  h4{
    <ul style="color:white;">
    }
.grid-container {
	display: grid;
	grid-template-areas: "a b c
	                     "a b c"
                         "a b c";	

	height: 300px;
	#a{
background-color: red;
	}
	#af {
	width: 200px;
	height: 200px;
	background-color: red;
	position: fixed;
	 left: 100px;
  top: 150px;
	background-image:url("neptune.jpg");
  background-repeat: no-repeat;
	color: white;
	margin-right: 200px;
	 background-size: cover;
}
