body{
  margin: 70px;
  background-color: black;
  background-image:url("1343.jpg");
  background-size: 100px 100px;
}
h1{
  text-align: center;
   color: white;
}
h4{
  text-align: center;
   color: white;
 
}
p{
  text-align: center;
     color: white;
}
il{
list-style: none;
  margin: 0;
  padding: 0;
}
ul{
list-style: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  margin: 0;
}
header {
  background: purple;
  height: 100px;
}
h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}
section {
  zoom: 0.8;
}
article {
  padding: 10px;
  margin: 10px;
  background: aqua;
}
  h4{
    <ul style="color:white;">
    }
.grid-container {
	display: grid;
	grid-template-areas: "a b c
	                     "a b c"
                         "a b c";	

	height: 300px;
	#a{
background-color: red;
	}
	#af {
	width: 200px;
	height: 200px;
	background-color: red;
	position: relative;
	 left: 10px;
  top: 10px;
	background-image:url("neptune.jpg");
  background-repeat: no-repeat;
	color: white;
	margin-right: 200px;
	 background-size: cover;
}
	> *{
 border: 1px solid gray;
	}
}
ah{
width: 300px;
	height: 200px;
	background-color: red;
	position: fixe;
	right: 00px;
  top: 0px;
	background-image:url("Hans_Jordaens_(III)_-_Moses_parting_the_Red_Sea (1).jpg");
  background-repeat: no-repeat;
	color: white;
	 background-size: cover;
	justify-content: center;
	display: flex;
}
	  ai{
width: 200px;
	height: 200px;
	background-color: red;
	position: fixe;
	righte: 100x;
  tope: 150p;
	background-image:url("moses--the-parting-of-the-red-sea-5739.jpg");
  background-repeat: no-repeat;
	color: white;
	 background-size: cover;
		  justify-content: center;
		  display: flex;
	  }
	  .box{
width: 300px;
	height: 200px;
	background-color: red;
	position: fixe;
	righte: 100x;
  tope: 150p;
	ebackground-image:url("Jordaens_Crossing_of_the_Red_Sea.jpg");
  background-repeat: no-repeat;
	color: white;
	 background-size: cover;
		 
	  }
	  #ah{
background-image:url("Hans_Jordaens_(III)_-_Moses_parting_the_Red_Sea (1).jpg");
	  }
	  #ai{
background-image:url("moses--the-parting-of-the-red-sea-5739.jpg");
	  }
	  #aj{
background-image:url("Jordaens_Crossing_of_the_Red_Sea.jpg");
	  }
	  .container{
 display: flex;
			justify-content: center;
	  }
	  #b{
 text-align: center;
		  color: black;
	  }
	  span {
	font-family: monospace;
	background-color: white;
	padding: 2px;
	border-radius: 3px;
	color: grey;
	font-family: monospace;
}
	  span.measurement{
padding: 3px;
	padding-right: 25px;
	background-color: yellow;
	font-weight: bold;
	border-radius: 10px;
	color: white;
	display: inline-block;
	font-size: 0.75em;
	color: grey;
	  }
	 span.measurement::before {
content: "[measurement]";
	font-family: monospace;
	font-size: 10px;
	color: black;
	vertical-align: top;
  }
	 
	  
